body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.setting {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
}

.settingLabel {
  padding: 5px;
}

.logScreenButtons {
  padding: 1em 1em 0 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logScreenButton {
  text-align: center;
  font-size: 1.5rem !important;
}

.dayWithLog {
  background-color: #42b0f5 !important;
  border-radius: 45px !important;
}

.dayInFuture {
  color: grey !important;
}

.react-calendar {
  width: 80% !important;
  font-size: 1.5rem;
}